@import './animations.css';

/*=============================================
=            Text            =
=============================================*/

h2 {
	text-shadow: var(--colorSecondary) -6px 0px, var(--colorTertiary) 6px 0px;
}

.kirby-text a {
	padding: 0.2em 0.1em 0 0.1em;

	transition: 0.5s;
	text-decoration: none;

	color: inherit;
	background: rgba(var(--colorPrimary), 0);
	box-shadow: inset 0 -0.3em 0 var(--colorPrimary);
	&:hover {
		opacity: 1;
		color: var(--colorWhite);
		background: var(--colorPrimary);
	}
}

/*=============================================
=            Header            =
=============================================*/


#home #logo > svg {
	fill: var(--colorWhite);
	transition: 0.3s;
}

#home .header--active #logo > svg, .header--active #logo > svg, #logo > svg {
	fill: var(--colorPrimary);
}

/*=============================================
=            Hero            =
=============================================*/

.hero h1 {
	@apply !leading-[1] !tracking-tighter;
	font-size: clamp(1rem, calc(-0.4rem + 7vw), 7rem);
	animation: shadow 10s infinite linear;
}

#logo_hor {
	transition: 0.3s;
	fill: none;
	stroke: var(--colorBlack);
	stroke-miterlimit: 10;
	stroke-width: 4px;

	width: auto;
	height: 7vw;
	margin-top: 15vh;

	&:hover {
		transition: 0.3s;
		animation: logoColor 10s infinite;

		fill: currentColor;
		stroke-width: 0;
	}
}

/*=============================================
=            Home            =
=============================================*/

.featured figcaption {
	color: white !important;
}

